ACS_EMAIL_CONNECTION_STRING="REPLACE WITH CONNECTION STRING"
ACS_EMAIL_SENDER="REPLACE WITH SENDER ADDRESS"
EMAIL_ENABLED=true
GOOGLE_CLIENT_ID="REPLACE"
GOOGLE_CLIENT_SECRET="REPLACE"
GITHUB_CLIENT_ID = "REPLACE"
GITHUB_CLIENT_SECRET = "REPLACE"
FRONTEND_URL="http://localhost:5173"